// Global values
// --------------------------------------------------
$blueMidnight: 		#3d69e7;         		
$yellowrr: 				#E9BE3A;
$blueSky: 				#49608A;
$blueRiver: 			#99A3BD;				
$bluePetrol:  		#0E2536;
$niceBlue:        #3d69e7;
$rojoClaro:       #d84765;
@mixin transition($args...) {
  -webkit-transition: $args;
  	 -moz-transition: $args;
  	  -ms-transition: $args;
  	   -o-transition: $args;
  		  transition: $args;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
  	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}
@mixin border-box($border){
   -webkit-box-sizing: $border;
   	  -moz-box-sizing: $border;
   		   box-sizing: $border;
}

html {
   font-family: 'walkway_ultraboldregular',arial;
}

  p{
   font-size: 18px;
}

img{
   display: block;
   height: auto;
   max-width: 100%
}
body,html {
  height:100%;
  min-height:100%;
  position:relative;
  overflow-x: hidden;
}
/* ==========================================================================
   Social Media
   ========================================================================== */

.social-media {
  margin: 1px 0 ;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
    a {
       color:#fff;
       font-size:1.6em;
       margin-right:15px;
       text-decoration:none;
   }
}

.social-media > a:hover.ss-twitter , .social-media > a:focus.ss-twitter   {
 color:#4099FF;
 text-decoration:none; 
}
 
.social-media > a:hover.ss-linkedin , .social-media > a:focus.ss-linkedin   {
 color:#007bb6;
 text-decoration:none; 
}
 
.social-media > a:hover.ss-googleplus , .social-media > a:focus.ss-googleplus   {
 color:#C63D2D;
 text-decoration:none; 
}

.social-media > a:hover.ss-mail , .social-media > a:focus.ss-mail   {
 color:#d35400;
 text-decoration:none; 
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

 
@media (min-width: $screen-sm){
  
  div .social-media{
      font-size: 18px;
  }
   .sidebar { 
      .sb-about{
         margin-top: 50px;
      }
   }
   .latestpost article{
      max-width: 340px;
   }
   .blog .content{
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
   }
  }

@media (min-width: $screen-md) { 
   p {
      font-size: 20px;
   }
   .boton-link, div .social-media {
      font-size: 24px;
   }

   .latestpost article{
      max-width: 450px;
   }
   .blog .content{
      max-width: 750px;
      margin: 0 auto;
      text-align: center;
   }   
}

@media(min-width:$screen-lg) { 
   p {
      font-size: 22px;
   }
   .boton-link{
      font-size: 28px;
   }

   div .social-media {
      font-size: 24px;
   }
   .latestpost article{
      max-width: 560px;
   }
   .blog .content{
      max-width: 850px;
      margin: 0 auto;
      text-align: center;
   }
} 