.home .banner {
    background:-webkit-linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background:linear-gradient(0deg,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    padding:20px 60px 20px 20px;
    .nav>li>a, .brand {
      color:#fff;
    }
    .nav>li>a:hover, .nav>li>a:focus{
      background: none;
      border-bottom:1px solid #fff;
      padding-bottom:5px;
      margin-bottom:-5px;
      @include transition (.2s, ease);
    }
    .menu-sel{
      font-size: 12px;
      color: $gray-lighter;
      a {
        color:$niceBlue;
      }
      a:hover, a:focus {
           color:darken($niceBlue, 15%);
           @include transition (.2s, ease);
      }
    }
}
.banner { 
   background: $blueMidnight;    
   .brand{
      float: left;
      padding: .5em 0;
      font-size: 1.8em;
      font-weight: 100;
      color: #fff;
   }
   .menu-sel{
    font-size: 12px;
    color: $gray-lighter;
    a {
      color:$blueRiver;
      }
    a:hover, a:focus{
      border-bottom: 1px solid;
    }
   }
}  
.brand:hover, .navbar-brand:focus {
         color: $blueRiver;
         @include transition (.2s, ease);
         text-decoration: none;
      }  

.nav-main {
   float: right;
   .nav {
    padding-left: 0;
    list-style: none;
      }
   .nav>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
      }
   .nav>li>a {
    padding: 1em .5em;
    margin-right: 2em;
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
      }
   .nav>li>a:hover, .nav>li>a:focus {
    
      background: $blueMidnight;
      border-bottom: 1px solid #fff;
      @include transition (.2s, ease);
      } 
   .nav>li.active>a {
      background: $blueMidnight;
      border-bottom: 1px solid #fff;
      }  
}
